# Python
backend/venv/
__pycache__/
*.pyc

# React
frontend/node_modules/
frontend/dist/

# Environment
.env

# VS Code
.vscode/

# Logs
*.log

# Database
*.db

# ChromaDB
database/chroma_db/

# Python Cache
.pytest_cache/